* { margin: 0; padding: 0; }

body, input {
    font-family: sans-serif;
    font-size: 12px;
}

.width-limit {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    height: 45px;
    background: #f4f4f4;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    padding: 55px 50px 0;
}
.buttons {
    float: left;
}
.search {
    float: right;
}

.text-button {
    background: #0271C7;
    border: none;
    border-radius: 4px;
    height: 26px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    text-shadow: 0 0 2px black;
    padding: 0 10px;
    margin-right: 8px;
}
input[type=text] {
    height: 26px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 0 6px;
}
textarea {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 6px;
}
.image-button {
    border: none;
    background: none;
    cursor: pointer;
}
.small-text-button {
    border: none;

    display: inline-block;
    vertical-align: middle;
    height: 19px;

    background: #f3f3f3;
    box-shadow: 0 0 3px #666;
    border-radius: 4px;

    padding: 0 5px;
    color: #666;
    cursor: pointer;
}

#search-button {
    display: inline-block;
    background: url('img/search.png');
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

.calendar-header {
    margin: 12px 0;
}
.calendar-month {
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    border-radius: 4px;
    box-shadow: 0 0 3px #666;
    margin-right: 9px;
}
.calendar-month * {
    vertical-align: middle;
}
#prev-month-button {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('img/left.png') center center no-repeat;
    border-right: 1px solid #d3d3d3;
}
#next-month-button {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('img/right.png') center center no-repeat;
    border-left: 1px solid #d3d3d3;
}
#calendar-month {
    display: inline-block;
    width: 120px;
    text-align: center;
}

#calendar-table {
    font-size: 10px;
    color: #999;
    border-collapse: collapse;
    margin-bottom: 65px;
}
#calendar-table td {
    border: 1px solid #ebebeb;
    width: 107px;
    height: 100px;
    padding: 10px;
    vertical-align: top;
}

#calendar-table .add-event-button {
    font-size: 10px;
    margin-top: 5px;
    display: none;
}
#calendar-table td.hover .add-event-button,
#calendar-table td.active .add-event-button {
    display: inline-block;
}

#popup-overlay {
    position: absolute;
    top: 0; left: 0; z-index: 100;
    display: none;
}
.popup {
    position: absolute;
    z-index: 101;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    background: white;
    padding: 20px;
    width: 260px;
}
.popup.left:before {
    content: '';
    position: absolute;
    border-left: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -10px;
    top: 20px;
}
.popup.left:after {
    content: '';
    position: absolute;
    border-left: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -8px;
    top: 20px;
}
.popup.right:before {
    content: '';
    position: absolute;
    border-right: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -10px;
    top: 20px;
}
.popup.right:after {
    content: '';
    position: absolute;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -8px;
    top: 20px;
}

#event-popup input[type=text] {
    display: block;
    margin: 5px 0;
    box-sizing: border-box;
    width: 100%;
}
#event-popup textarea {
    display: block;
    margin: 20px 0;
    box-sizing: border-box;
    width: 100%;
}

.hidden {
    display: none;
}
